# Poetry / Virtual Environments
.venv/

# Environment Variables
.env

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Data (never commit)
data/
*.parquet
*.csv
*.json

# testing_script
scripts/


